---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/CONTENTFUL_SPACE_ID/environments/master/entries?content_type=recipe&sys.id=5jy9hcidWcQ4maKGqIOYW6
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.16.1; platform ruby/2.7.0; os Linux;
      Authorization:
      - Bearer CONTENTFUL_ACCESS_TOKEN
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda
      Etag:
      - '"10440568906820546102"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Contentful-Request-Id:
      - b997d955-35cd-4993-b6de-83cc557244f1
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Sun, 06 Jun 2021 15:18:26 GMT
recorded_with: VCR 6.0.0
