<div class="recipe-container">
  <div class="recipe-container__row">
    <div class="recipe-container__row-name">Title</div>
    <div class="recipe-container__row-content"><%= @recipe.title %></div>
  </div>
  <br>

  <div class="recipe-container__row">
    <div class="recipe-container__row-name">Image</div>
    <div class="recipe-container__row-content">
      <%= image_tag(@recipe.photo.url) %>
    </div>
  </div>
  <br>

  <div class="recipe-container__row">
    <div class="recipe-container__row-name">Tags</div>
    <div class="recipe-container__row-content">
      <%- @tags.each do |tag| %>
        <span style="margin-right: 5px;"><%= tag.name %></span>
      <%- end %>
    </div>
  </div>
  <br>

  <div class="recipe-container__row">
    <div class="recipe-container__row-name">Description</div>
    <div class="recipe-container__row-content"><%= @recipe.description %></div>
  </div>
</div>
